server/data/flows.json
[
    {
        "id": "2a5fa45e41d51d69",
        "type": "tab",
        "label": "Controlo do Carro",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fc4788f2c5ccac32",
        "type": "ui_tab",
        "name": "Carro",
        "icon": "car",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "32f00862.92f0b",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "172.20.10.2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f15df134aefc5dbe",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "group_acel",
        "type": "ui_group",
        "name": "📊 Acelerômetro",
        "tab": "fc4788f2c5ccac32",
        "order": 1,
        "disp": true,
        "width": 4,
        "collapse": false
    },
    {
        "id": "group_giro",
        "type": "ui_group",
        "name": "🔄 Giroscópio",
        "tab": "fc4788f2c5ccac32",
        "order": 2,
        "disp": true,
        "width": 4,
        "collapse": false
    },
    {
        "id": "group_gforce",
        "type": "ui_group",
        "name": "💥 Força G",
        "tab": "fc4788f2c5ccac32",
        "order": 3,
        "disp": true,
        "width": 4,
        "collapse": false
    },
    {
        "id": "2e07c98446453759",
        "type": "ui_group",
        "name": "Controlo",
        "tab": "fc4788f2c5ccac32",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ae2846cf3bd4434",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "true",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "test",
        "userFieldType": "str",
        "password": "test",
        "passwordFieldType": "str"
    },
    {
        "id": "753b921eb2782fd4",
        "type": "mqtt out",
        "z": "2a5fa45e41d51d69",
        "name": "MQTT para ESP32",
        "topic": "carro/comando",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32f00862.92f0b",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "d6c7411b276e7147",
        "type": "ui_button",
        "z": "2a5fa45e41d51d69",
        "name": "Frente",
        "group": "2e07c98446453759",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "▲ Frente",
        "payload": "frente",
        "payloadType": "str",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "753b921eb2782fd4"
            ]
        ]
    },
    {
        "id": "05e533b1c2649b4a",
        "type": "ui_button",
        "z": "2a5fa45e41d51d69",
        "name": "Esquerda",
        "group": "2e07c98446453759",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "◀ Esquerda",
        "payload": "esquerda",
        "payloadType": "str",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "753b921eb2782fd4"
            ]
        ]
    },
    {
        "id": "2b0f857c4746700b",
        "type": "ui_button",
        "z": "2a5fa45e41d51d69",
        "name": "Direita",
        "group": "2e07c98446453759",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "▶ Direita",
        "payload": "direita",
        "payloadType": "str",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "753b921eb2782fd4"
            ]
        ]
    },
    {
        "id": "e0db82b7dd90f18a",
        "type": "ui_button",
        "z": "2a5fa45e41d51d69",
        "name": "Trás",
        "group": "2e07c98446453759",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "▼ Trás",
        "payload": "tras",
        "payloadType": "str",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "753b921eb2782fd4"
            ]
        ]
    },
    {
        "id": "08db883e4005d876",
        "type": "ui_button",
        "z": "2a5fa45e41d51d69",
        "name": "Parar",
        "group": "2e07c98446453759",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "■ Parar",
        "color": "#ffffff",
        "bgcolor": "#ff0000",
        "payload": "parar",
        "payloadType": "str",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "753b921eb2782fd4"
            ]
        ]
    },
    {
        "id": "c48edb3cd43ef04f",
        "type": "mqtt in",
        "z": "2a5fa45e41d51d69",
        "name": "Sensor MQTT",
        "topic": "carro/sensor",
        "qos": "0",
        "datatype": "auto",
        "broker": "32f00862.92f0b",
        "inputs": 0,
        "x": 210,
        "y": 420,
        "wires": [
            [
                "3173306ce9baf8ec"
            ]
        ]
    },
    {
        "id": "3173306ce9baf8ec",
        "type": "json",
        "z": "2a5fa45e41d51d69",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 420,
        "wires": [
            [
                "c3d3f1b7266a6c11",
                "6fba30c28ebddad5",
                "7c6b81c1e3fda880",
                "fb554ba1e1cd1cc4",
                "7cae6b820973df46",
                "387143ee7cede2f9",
                "899d650ffe1ed096"
            ]
        ]
    },
    {
        "id": "c3d3f1b7266a6c11",
        "type": "change",
        "z": "2a5fa45e41d51d69",
        "name": "extrair ax",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ax",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 380,
        "wires": [
            [
                "2a6af56e2a373a43"
            ]
        ]
    },
    {
        "id": "6fba30c28ebddad5",
        "type": "change",
        "z": "2a5fa45e41d51d69",
        "name": "extrair ay",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ay",
                "tot": "msg"
            }
        ],
        "x": 610,
        "y": 420,
        "wires": [
            [
                "3c5245c5acf1983c"
            ]
        ]
    },
    {
        "id": "7c6b81c1e3fda880",
        "type": "change",
        "z": "2a5fa45e41d51d69",
        "name": "extrair az",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.az",
                "tot": "msg"
            }
        ],
        "x": 610,
        "y": 460,
        "wires": [
            [
                "7320b7e15685b5df"
            ]
        ]
    },
    {
        "id": "fb554ba1e1cd1cc4",
        "type": "change",
        "z": "2a5fa45e41d51d69",
        "name": "extrair gx",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gx",
                "tot": "msg"
            }
        ],
        "x": 610,
        "y": 500,
        "wires": [
            [
                "85bea4ca3c21de38"
            ]
        ]
    },
    {
        "id": "7cae6b820973df46",
        "type": "change",
        "z": "2a5fa45e41d51d69",
        "name": "extrair gy",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gy",
                "tot": "msg"
            }
        ],
        "x": 610,
        "y": 540,
        "wires": [
            [
                "1e1ab516da6a16b1"
            ]
        ]
    },
    {
        "id": "387143ee7cede2f9",
        "type": "change",
        "z": "2a5fa45e41d51d69",
        "name": "extrair gz",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gz",
                "tot": "msg"
            }
        ],
        "x": 610,
        "y": 580,
        "wires": [
            [
                "a458d797cd48fa72"
            ]
        ]
    },
    {
        "id": "899d650ffe1ed096",
        "type": "function",
        "z": "2a5fa45e41d51d69",
        "name": "Calcular G-Force",
        "func": "// calcula g-force a partir de ax, ay, az\nconst g = Math.sqrt(\n  msg.payload.ax**2 +\n  msg.payload.ay**2 +\n  msg.payload.az**2\n) / 9.806;\nmsg.payload = g;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "50684e5de07aeb30"
            ]
        ]
    },
    {
        "id": "2a6af56e2a373a43",
        "type": "ui_gauge",
        "z": "2a5fa45e41d51d69",
        "name": "Ax",
        "group": "group_acel",
        "order": 1,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "label": "X (m/s²)",
        "format": "{{value}}",
        "min": -8,
        "max": 8,
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "3c5245c5acf1983c",
        "type": "ui_gauge",
        "z": "2a5fa45e41d51d69",
        "name": "Ay",
        "group": "group_acel",
        "order": 2,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "label": "Y (m/s²)",
        "format": "{{value}}",
        "min": -8,
        "max": 8,
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "7320b7e15685b5df",
        "type": "ui_gauge",
        "z": "2a5fa45e41d51d69",
        "name": "Az",
        "group": "group_acel",
        "order": 3,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "label": "Z (m/s²)",
        "format": "{{value}}",
        "min": -8,
        "max": 8,
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "85bea4ca3c21de38",
        "type": "ui_gauge",
        "z": "2a5fa45e41d51d69",
        "name": "Gx",
        "group": "group_giro",
        "order": 1,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "label": "X (°/s)",
        "format": "{{value}}",
        "min": -50,
        "max": 50,
        "x": 770,
        "y": 500,
        "wires": []
    },
    {
        "id": "1e1ab516da6a16b1",
        "type": "ui_gauge",
        "z": "2a5fa45e41d51d69",
        "name": "Gy",
        "group": "group_giro",
        "order": 2,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "label": "Y (°/s)",
        "format": "{{value}}",
        "min": -50,
        "max": 50,
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "a458d797cd48fa72",
        "type": "ui_gauge",
        "z": "2a5fa45e41d51d69",
        "name": "Gz",
        "group": "group_giro",
        "order": 3,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "title": "",
        "label": "Z (°/s)",
        "format": "{{value}}",
        "min": -50,
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 580,
        "wires": []
    },
    {
        "id": "50684e5de07aeb30",
        "type": "ui_gauge",
        "z": "2a5fa45e41d51d69",
        "name": "Força G",
        "group": "group_gforce",
        "order": 1,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "label": "g",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": 4,
        "x": 840,
        "y": 280,
        "wires": []
    },
    {
        "id": "mqtt_to_uibuilder",
        "type": "mqtt in",
        "z": "2a5fa45e41d51d69",
        "name": "MQTT → 3D Viewer",
        "topic": "carro/sensor",
        "qos": "0",
        "datatype": "json",
        "broker": "32f00862.92f0b",
        "inputs": 0,
        "x": 310,
        "y": 760,
        "wires": [
            [
                "parse_for_uib"
            ]
        ]
    },
    {
        "id": "parse_for_uib",
        "type": "json",
        "z": "2a5fa45e41d51d69",
        "name": "Parse JSON",
        "property": "payload",
        "pretty": false,
        "x": 510,
        "y": 760,
        "wires": [
            [
                "uibuilder_car"
            ]
        ]
    },
    {
        "id": "uibuilder_car",
        "type": "uibuilder",
        "z": "2a5fa45e41d51d69",
        "name": "3D Car Viewer",
        "topic": "",
        "url": "carview",
        "okToGo": true,
        "fwdInMessages": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "7.3.0",
        "showMsgUib": false,
        "title": "",
        "descr": "",
        "editurl": "vscode://file/data/uibuilder/carview/?windowId=_blank",
        "x": 710,
        "y": 760,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "eaf85c57ce1d176d",
        "type": "postgresql",
        "z": "2a5fa45e41d51d69",
        "name": "",
        "query": "SELECT * FROM carro;",
        "postgreSQLConfig": "3ae2846cf3bd4434",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 950,
        "y": 660,
        "wires": [
            []
        ]
    }
]