server/data/flows.json
[
    {
        "id": "31154d59d469d008",
        "type": "tab",
        "label": "Controlo do Carro",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2e07c98446453759",
        "type": "ui_group",
        "name": "Controlo",
        "tab": "fc4788f2c5ccac32",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fc4788f2c5ccac32",
        "type": "ui_tab",
        "name": "Carro",
        "icon": "car",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "32f00862.92f0b",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "192.168.1.155",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f15df134aefc5dbe",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "group_acel",
        "type": "ui_group",
        "name": "📊 Acelerômetro",
        "tab": "fc4788f2c5ccac32",
        "order": 1,
        "disp": true,
        "width": 4,
        "collapse": false
    },
    {
        "id": "group_giro",
        "type": "ui_group",
        "name": "🔄 Giroscópio",
        "tab": "fc4788f2c5ccac32",
        "order": 2,
        "disp": true,
        "width": 4,
        "collapse": false
    },
    {
        "id": "group_gforce",
        "type": "ui_group",
        "name": "💥 Força G",
        "tab": "fc4788f2c5ccac32",
        "order": 3,
        "disp": true,
        "width": 4,
        "collapse": false
    },
    {
        "id": "postgres_config",
        "type": "postgresdb",
        "cfgname": "",
        "hostname": "postgres",
        "port": "5432",
        "db": "",
        "ssl": false
    },
    {
        "id": "bbef69896cfe927f",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "postgres",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "true",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "test",
        "userFieldType": "str",
        "password": "test",
        "passwordFieldType": "str"
    },
    {
        "id": "29a92224938e59ee",
        "type": "mqtt out",
        "z": "31154d59d469d008",
        "name": "MQTT para ESP32",
        "topic": "carro/comando",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32f00862.92f0b",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "9e9e35be08ca3e53",
        "type": "ui_button",
        "z": "31154d59d469d008",
        "name": "Frente",
        "group": "2e07c98446453759",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "▲ Frente",
        "payload": "frente",
        "payloadType": "str",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "29a92224938e59ee"
            ]
        ]
    },
    {
        "id": "cf1f5e67f49a6b6c",
        "type": "ui_button",
        "z": "31154d59d469d008",
        "name": "Esquerda",
        "group": "2e07c98446453759",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "◀ Esquerda",
        "payload": "esquerda",
        "payloadType": "str",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "29a92224938e59ee"
            ]
        ]
    },
    {
        "id": "80623082f784b913",
        "type": "ui_button",
        "z": "31154d59d469d008",
        "name": "Direita",
        "group": "2e07c98446453759",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "▶ Direita",
        "payload": "direita",
        "payloadType": "str",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "29a92224938e59ee"
            ]
        ]
    },
    {
        "id": "652786003aee6880",
        "type": "ui_button",
        "z": "31154d59d469d008",
        "name": "Trás",
        "group": "2e07c98446453759",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "▼ Trás",
        "payload": "tras",
        "payloadType": "str",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "29a92224938e59ee"
            ]
        ]
    },
    {
        "id": "b1411eedada0fcea",
        "type": "ui_button",
        "z": "31154d59d469d008",
        "name": "Parar",
        "group": "2e07c98446453759",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "■ Parar",
        "color": "#ffffff",
        "bgcolor": "#ff0000",
        "payload": "parar",
        "payloadType": "str",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "29a92224938e59ee"
            ]
        ]
    },
    {
        "id": "d1e2f3a4b5c6d7e",
        "type": "mqtt in",
        "z": "31154d59d469d008",
        "name": "Sensor MQTT",
        "topic": "carro/sensor",
        "qos": "0",
        "datatype": "auto",
        "broker": "32f00862.92f0b",
        "inputs": 0,
        "x": 210,
        "y": 420,
        "wires": [
            [
                "c1d2e3f4a5b6c7d"
            ]
        ]
    },
    {
        "id": "c1d2e3f4a5b6c7d",
        "type": "json",
        "z": "31154d59d469d008",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 420,
        "wires": [
            [
                "f1e2d3c4b5a6970",
                "f2e3d4c5b6a7981",
                "f3e4d5c6b7a8092",
                "f4e5d6c7b8a9103",
                "f5e6d7c8b9a0214",
                "f6e7d8c9b0a1325",
                "c5b4e64861a48a70"
            ]
        ]
    },
    {
        "id": "f1e2d3c4b5a6970",
        "type": "change",
        "z": "31154d59d469d008",
        "name": "extrair ax",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ax",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 380,
        "wires": [
            [
                "gauge_ax"
            ]
        ]
    },
    {
        "id": "f2e3d4c5b6a7981",
        "type": "change",
        "z": "31154d59d469d008",
        "name": "extrair ay",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ay",
                "tot": "msg"
            }
        ],
        "x": 610,
        "y": 420,
        "wires": [
            [
                "gauge_ay"
            ]
        ]
    },
    {
        "id": "f3e4d5c6b7a8092",
        "type": "change",
        "z": "31154d59d469d008",
        "name": "extrair az",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.az",
                "tot": "msg"
            }
        ],
        "x": 610,
        "y": 460,
        "wires": [
            [
                "gauge_az"
            ]
        ]
    },
    {
        "id": "f4e5d6c7b8a9103",
        "type": "change",
        "z": "31154d59d469d008",
        "name": "extrair gx",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gx",
                "tot": "msg"
            }
        ],
        "x": 610,
        "y": 500,
        "wires": [
            [
                "gauge_gx"
            ]
        ]
    },
    {
        "id": "f5e6d7c8b9a0214",
        "type": "change",
        "z": "31154d59d469d008",
        "name": "extrair gy",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gy",
                "tot": "msg"
            }
        ],
        "x": 610,
        "y": 540,
        "wires": [
            [
                "gauge_gy"
            ]
        ]
    },
    {
        "id": "f6e7d8c9b0a1325",
        "type": "change",
        "z": "31154d59d469d008",
        "name": "extrair gz",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gz",
                "tot": "msg"
            }
        ],
        "x": 610,
        "y": 580,
        "wires": [
            [
                "gauge_gz"
            ]
        ]
    },
    {
        "id": "c5b4e64861a48a70",
        "type": "function",
        "z": "31154d59d469d008",
        "name": "Calcular G-Force",
        "func": "// calcula g-force a partir de ax, ay, az\nconst g = Math.sqrt(\n  msg.payload.ax**2 +\n  msg.payload.ay**2 +\n  msg.payload.az**2\n) / 9.806;\nmsg.payload = g;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "gauge_gforce"
            ]
        ]
    },
    {
        "id": "gauge_ax",
        "type": "ui_gauge",
        "z": "31154d59d469d008",
        "name": "Ax",
        "group": "group_acel",
        "order": 1,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "label": "X (m/s²)",
        "format": "{{value}}",
        "min": -8,
        "max": 8,
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "gauge_ay",
        "type": "ui_gauge",
        "z": "31154d59d469d008",
        "name": "Ay",
        "group": "group_acel",
        "order": 2,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "label": "Y (m/s²)",
        "format": "{{value}}",
        "min": -8,
        "max": 8,
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "gauge_az",
        "type": "ui_gauge",
        "z": "31154d59d469d008",
        "name": "Az",
        "group": "group_acel",
        "order": 3,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "label": "Z (m/s²)",
        "format": "{{value}}",
        "min": -8,
        "max": 8,
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "gauge_gx",
        "type": "ui_gauge",
        "z": "31154d59d469d008",
        "name": "Gx",
        "group": "group_giro",
        "order": 1,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "label": "X (°/s)",
        "format": "{{value}}",
        "min": -50,
        "max": 50,
        "x": 770,
        "y": 500,
        "wires": []
    },
    {
        "id": "gauge_gy",
        "type": "ui_gauge",
        "z": "31154d59d469d008",
        "name": "Gy",
        "group": "group_giro",
        "order": 2,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "label": "Y (°/s)",
        "format": "{{value}}",
        "min": -50,
        "max": 50,
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "gauge_gz",
        "type": "ui_gauge",
        "z": "31154d59d469d008",
        "name": "Gz",
        "group": "group_giro",
        "order": 3,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "title": "",
        "label": "Z (°/s)",
        "format": "{{value}}",
        "min": -50,
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 580,
        "wires": []
    },
    {
        "id": "gauge_gforce",
        "type": "ui_gauge",
        "z": "31154d59d469d008",
        "name": "Força G",
        "group": "group_gforce",
        "order": 1,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "label": "g",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": 4,
        "x": 820,
        "y": 280,
        "wires": []
    }
]